# Neste projeto irei demonstrar com integrar o Python com o Firebase

# Importando as bibliotecas utilizadas no projeto

In [7]:

import json
import pandas as pd
import requests

# Transfomando o link da API do Firebase em uma variavel

In [2]:
link_vendas = 'https://integracao-python-1da75-default-rtdb.firebaseio.com/Vendas/'
link_produtos = 'https://integracao-python-1da75-default-rtdb.firebaseio.com/Produtos/'

# Cadastrando produtos localmente

In [3]:
nome_produto = str(input('Nome do Produto: '))
preco = float(input('Valor: R$'))
estoque = int(input('Estoque: '))

Nome do Produto: HD externo
Valor: R$300
Estoque: 10

# Cadastrando vendas localmente para a API

In [4]:
nome_cliente = str(input('Nome: '))
nome_produto_comprado = str(input('Nome do Produto: '))
valor_pago = float(input('Valor pago: '))

Nome: Flavio
Nome do Produto: HD externo
Valor pago: 300

In [5]:
dados_venda = {'cliente':nome_cliente, 'produto': nome_produto_comprado, 'pagou':valor_pago}
dados_produto = {'nome': nome_produto, 'preco':preco, 'estoque':estoque}

In [8]:
requisicao_produtos_post = requests.post(f'{link_produtos}.json', data = json.dumps(dados_produto))
requisicao_vendas_post = requests.post(f'{link_vendas}.json', data = json.dumps(dados_venda))

In [11]:
requisicao_produtos_post

# Extraindo informação do Firebase/API

In [12]:
requisicao_vendas_get = requests.get(f"{link_vendas}/.json")
requisicao_produtos_get = requests.get(f"{link_produtos}/.json")

In [13]:
r_vendas = requisicao_vendas_get.json()
r_vendas

{'-MzFmfDOoQP1MsegBwsf': {'cliente': 'Silva',
  'pagou': 600,
  'produto': 'Monitor'},
 '-MzFrGp4Lhxthem5RQjT': {'cliente': 'Carlos',
  'pagou': 1500.0,
  'produto': 'Celular Sansung'},
 '-MzyntVAMdcpIza5-LIB': {'cliente': 'Flavio',
  'pagou': 300.0,
  'produto': 'HD externo'},
 'VID1': {'cliente': 'Maicon', 'pagou': 50, 'produto': 'fone de ouvido'}}

In [14]:
r_produtos = requisicao_produtos_get.json()
r_produtos

{'-MzFmf5Bfx91AP8pkc5R': {'estoque': 90, 'nome': 'Monitor', 'preco': 600},
 '-MzFrGgcsGJ2ip5udwUG': {'estoque': 200,
  'nome': 'Celular Sansung',
  'preco': 1500.0},
 '-MzyntJhR3pEbtcJDRG-': {'estoque': 10, 'nome': 'HD externo', 'preco': 300.0},
 'PID1': {'estoque': 100, 'nome': 'fone de ouvido', 'preco': 50}}

# Covertendo as informções extraidas da API do Firebase em um DataFrame

In [17]:
produtos_df = pd.DataFrame(r_produtos).transpose()
produtos_df = produtos_df.reset_index()
produtos_df = produtos_df.rename(columns={'index':'id produto'})
produtos_df.loc[produtos_df['id produto'] == '-MzFmf5Bfx91AP8pkc5R', 'id produto'] = 'PID2'
produtos_df.loc[produtos_df['id produto'] == '-MzFrGgcsGJ2ip5udwUG', 'id produto'] = 'PID3'
produtos_df.loc[produtos_df['id produto'] == '-MzyntJhR3pEbtcJDRG-', 'id produto'] = 'PID4'
produtos_df = produtos_df.sort_values('id produto', ascending = True)
produtos_df.index = range(produtos_df.shape[0])



produtos_df

  id produto estoque             nome   preco
0       PID1     100   fone de ouvido      50
1       PID2      90          Monitor     600
2       PID3     200  Celular Sansung  1500.0
3       PID4      10       HD externo   300.0

In [18]:
vendas_df = pd.DataFrame(r_vendas).transpose()
vendas_df = vendas_df.reset_index()
vendas_df = vendas_df.rename(columns={'index':'id produto'})
vendas_df.loc[vendas_df['id produto'] == '-MzFmfDOoQP1MsegBwsf', 'id produto'] = 'VID2'
vendas_df.loc[vendas_df['id produto'] == '-MzFrGp4Lhxthem5RQjT', 'id produto'] = 'VID3'
vendas_df.loc[vendas_df['id produto'] == '-MzyntVAMdcpIza5-LIB', 'id produto'] = 'VID4'
vendas_df = vendas_df.sort_values('id produto', ascending = True)
vendas_df.index = range(vendas_df.shape[0])

vendas_df

  id produto cliente   pagou          produto
0       VID1  Maicon      50   fone de ouvido
1       VID2   Silva     600          Monitor
2       VID3  Carlos  1500.0  Celular Sansung
3       VID4  Flavio   300.0       HD externo